*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', 'Roboto', sans-serif;
}

// variables
$color-border: #f2f2f2;
$blue-color: #074a86;

// mixin
@mixin float {
    float: left;
    width: 100%;
}